<div class="header-container"  id="header">
  <div class="header-logo-name name-styled" (click)="scrollToSelectedElement('#header')">ADRIAN</div>
  <div class="header-tabs">
    <div class="tab-links" (click)="scrollToSelectedElement('#aboutMe')">Über mich</div>
    <div class="tab-links" (click)="scrollToSelectedElement('#mySkills')">Skills</div>
    <div class="tab-links" (click)="scrollToSelectedElement('#portfolio')">Portfolio</div>
  </div>
  <img src="../../../assets/img/burgerMenu.png" class="footer-burger-menu" (click)="showMenu()">
</div>