<section>
    <div class="top-section-container">
        <div class="top-section-images">
            <img class="top-section-portrait" src="../../../assets/img/portrait.png" alt="">
            <img class="top-section-red-orange-shadow" src="../../../assets/img/redOrangeShadow.svg" alt="">
        </div>

        <div class="top-section-wave">
            <img src="../../../assets/img/topWaveOne.svg" alt="">
        </div>

        <!-- Text and Jobtitle -->
        <div class="top-section-text-container">
            <!-- Text -->
            <div class="top-section-text">
                <div class="top-section-iam-name">
                    <div class="top-section-iam">Ich bin</div>
                    <div>
                        <div class="top-section-name">Adrian Krampikowski</div>
                        <div class="top-section-jobtitle">Workforce Manager und <br>Frontend Developer</div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="top-section-button">
                <app-orangebutton text="Let's talk"></app-orangebutton>
            </div>
        </div>

    </div>


    <div class="top-section-bottom-links">
        <div class="top-section-bottom-line"></div>

        <!-- Github Link -->
        <a href="https://github.com/AdrianKrampikowski" target="_blank">
            <img src="assets/img/github.svg" alt="Github">
        </a>
        <!-- Mail -->
        <a href="mailto:info@adrian-krampikowski.com">
            <img src="assets/img/email.svg" alt="Email">
        </a>
        <!-- LinkedIn Link -->
        <a href="https://www.linkedin.com/in/adrian-krampikowski-b34627279/" target="_blank">
            <img src="assets/img/linkedin.svg" alt="Linkedin">
        </a>

        <a href="mailto:info@adrian-krampikowski.com">
            <div class="top-section-mail-address">info@adrian-krampikowski.com</div>
        </a>

        <div class="top-section-scroll-down-container">
            <div class="top-section-scroll-down-text-img" (click)="scrollToAboutMe()">
                Scroll down
                <img src="assets/img/arrowDown.png">
            </div>
        </div>

    </div>
</section>