<div class="about-me-container" id="aboutMe" >
    <div class="about-me-information">
        <h1>Über mich</h1>
        <p>Hey, ich bin in zwei faszinierenden Berufsfeldern zuhause: Workforce-Management und Front-End-Entwicklung.
            Meine Laufbahn verbindet umfangreiche Erfahrungen aus beiden Bereichen, indem ich organisatorische
            Fähigkeiten mit kreativer Leidenschaft kombiniere. </p>
        <div class="about-me-personal-things">
            <img src="assets/img/bulbDesktop.png">
            <p>
                Meine Reise begann als Workforce-Manager, wo ich Teams geschickt koordinierte und Ressourcenpläne
                optimierte. Ein besonderes Augenmerk legte ich auf effizientes Kosten- und Projektmanagement. Darüber
                hinaus sammelte ich wertvolle Erfahrungen im Kundenkonsulting und im Projektmanagement.
            </p>
        </div>
        <div class="about-me-personal-things">
            <img src="assets/img/puzzleDesktop.png">
            <p>
                Als Front-End-Developer bündele ich technisches Know-how und gestalterische Expertise, um
                nutzerfreundliche Oberflächen und ansprechende Webanwendungen zu gestalten. Mein Ziel ist es,
                reibungslose Interaktionen zwischen Nutzern und digitalen Plattformen zu erschaffen und so einzigartige
                digitale Erlebnisse zu schaffen.
            </p>
        </div>
    </div>

    <div class="mask-container">
        <img src="../../../assets/img/portraitMask.png">
        <div class="mask-line"></div>

    </div>

    <div class="about-me-red-shadow">
        <img src="../../../assets/img/aboutMeRedShadow.svg">
    </div>

</div>