.visibleContainer {
    opacity: 0;
    transition: opacity 2s; /* Keep the opacity transition */
    position: relative; /* Create a stacking context */
    z-index: 1; /* Set an initial z-index higher than other elements */
  }
  
  .visible {
    opacity: 1;
    z-index: 2; /* Increase the z-index when the element is visible */
  }
  