.imprint-close {
  cursor: pointer;
  position: absolute;
  right: 15vw;
  font-size: 3vw;
}

.imprint-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10vw;
  padding-right: 18vw;
  overflow: hidden;
  a {
    color: grey;
  }
}
